{{#storefront-exposition position="top" imgClass="stabby-sihoulettes" as |ys|}}
  {{#ys.title}}
    Tuesday, April 12 – Sunday, April 17, 2016 in Oakland, CA, USA
  {{/ys.title}}
  {{#ys.subtitle}}
    In one six-day intensive course, we are creating the opportunity to explore the same concepts many force operators spend years of their lives and thousands of force encounters to buy.
  {{/ys.subtitle}}
  {{#link-to "products" class=ys.ctaClass}}
    Don't miss this chance <i class="material-icons">chevron_right</i>
  {{/link-to}}
{{/storefront-exposition}}

{{#storefront-exposition position="bottom" imgClass="angry-woman" as |ys|}}
  {{#ys.title}}
    In April, 2016, we invite you to join us for six days of training.
  {{/ys.title}}
  {{#ys.subtitle}}
    <p>
      Here we explore the logic and legality of use of force, conflict communication and the mechanics of violence and defense with Rory Miller, Marc MacYoung, Kathy Jackson, Terry Trahan, and Kasey Keckeisen.
    </p>
    <p>
      We’re excited. These are five (world-class) instructors, all with long histories facing and using force. All with years of experience transmitting that information to other people.
    </p>
  {{/ys.subtitle}}
  {{#link-to "instructors" class=ys.ctaClass}}
    See more about our instructors <i class="material-icons">chevron_right</i>
  {{/link-to}}
{{/storefront-exposition}}