{{#storefront-products
  banner="Oakland, CA / USA / 2016" 
  fineprint="All sessions will run from 10a-6p PST."}}
  {{#storefront-textbase-product noCta=true as |yields|}}
    {{#yields.title}}4/12-4/13{{/yields.title}}
    {{#yields.subtitle}}
      sessions will be hosted by Soja Mind/Body.
    {{/yields.subtitle}}
  {{/storefront-textbase-product}}
  {{#storefront-textbase-product noCta=true as |yields|}}
    {{#yields.title}}4/14{{/yields.title}}
    {{#yields.subtitle}}
      will be on-site at the Chabot Gun Club.
      <p>*If transportation is an issue, we will be arranging carpools during registration, so please let us know.</p>
    {{/yields.subtitle}}
  {{/storefront-textbase-product}}
  {{#storefront-textbase-product noCta=true as |yields|}}
    {{#yields.title}}4/15-4/16{{/yields.title}}
    {{#yields.subtitle}}
      sessions will be hosted by the East Bay Rats.
    {{/yields.subtitle}}
  {{/storefront-textbase-product}}
  {{#storefront-textbase-product noCta=true as |yields|}}
    {{#yields.title}}4/17{{/yields.title}}
    {{#yields.subtitle}}
      The locations of are to be announced.
    {{/yields.subtitle}}
  {{/storefront-textbase-product}}
{{/storefront-products}}