<p>cardStyle defaults to list; can be changed to "text"</p>

<p>Your named yields are: title, subtitle, cta, and fineprint</p>

<p>miscellanious yields are: ctaClass and listClass</p>

<p>opts are hasFineprint and hasCta</p>

{{code-snippet name="-grid-cards.hbs"}}