<p>Store functionality depends on AutoX and spree, if you ember install, you'll need to handle those dependencies yourself</p>

<p>If you only want assets, use npm install --save-dev</p>

{{code-snippet name="-reqs.xxx"}}