<table border="0" width="100%">
  <tbody>
    <tr>
      <td width="25%" align="center">
        <img src="http://violencedynamics.com/wp-content/uploads/2015/12/outlook-128.png" width="128" height="128" alt="Email">
        <br>
        <strong>registration@<br><span style="display:none;">REMOVE-ME</span>violencedynamics.com</strong>
      </td>
      <td width="25%" align="center">
        <a href="https://www.facebook.com/violencedynamics">
          <img src="http://violencedynamics.com/wp-content/uploads/2015/12/facebook-128.png" width="128" height="128" alt="Facebook">
        </a>
        <br>
        <strong>
          <a href="https://www.facebook.com/violencedynamics">Facebook</a>
        </strong>
      </td>
      <td width="25%" align="center">
        <a href="https://twitter.com/viodynamics">
          <img src="http://violencedynamics.com/wp-content/uploads/2015/12/twitter-128.png" width="128" height="128" alt="Twitter">
        </a>
        <br>
        <strong>
          <a href="https://twitter.com/viodynamics">Twitter</a>
        </strong>
      </td>
      <td width="25%" align="center">
        <a href="https://www.instagram.com/violencedynamics">
          <img src="http://violencedynamics.com/wp-content/uploads/2015/12/instagram-128.png" width="128" height="128" alt="Instagram">
        </a>
        <br>
        <strong>
          <a href="https://www.instagram.com/violencedynamics">Instagram</a>
        </strong>
      </td>
    </tr>
  </tbody>
</table>