{{#storefront-minihero}}
  Contact Us
{{/storefront-minihero}}

<div class="container">
  <div class="row">
    <div class="col-xs-12 violence-contact">
      {{partial "copypaste/contact"}}
    </div>
  </div>
</div>
