{{#website-hero noCta=true as |hero|}}
  {{#hero.title}}<strong>violence</strong> vi·o·lence ˈvī(ə)ləns/ noun{{/hero.title}}
  {{#hero.subtitle}}
    behavior involving physical force intended to hurt, damage, or kill someone or something. (Merriam-Webster)
  {{/hero.subtitle}}
  <div class="container violence-hero__container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-1 col-lg-6 col-lg-offset-3">
        <blockquote>
          <strong>Violence dynamics:</strong> 
          the logistics of the use of 
          <span class="highlight">force</span>
           – how, where and when it happens, and its greater relevance on the spectrum of human communication and 
           <span class="highlight">conflict</span> 
           behavior.
        </blockquote>
      </div>
    </div>
  </div>
{{/website-hero}}

{{partial "snippets/expositions"}}

<div class="jumbotron violence-products__jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-1 col-lg-8 col-lg-offset-2">
        {{partial "snippets/products"}}
      </div>
    </div>
  </div>
</div>