{{#storefront-minihero}}
  Instructors
{{/storefront-minihero}}

<div class="container">
  <div class="row">
    <div class="col-xs-12 align-center">
      {{#link-to "index" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"}}
        <i class="material-icons">chevron_left</i> Back Home
      {{/link-to}}
    </div>
    <div class="col-xs-12">
      {{outlet}}
    </div>
  </div>
</div>