{{#storefront-minihero}}
  Schedule
{{/storefront-minihero}}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      {{partial "snippets/schedule"}}
    </div>
    <div class="col-xs-12">
      {{partial "snippets/grid-cards"}}
    </div>
    <div class="col-xs-12">
      {{partial "snippets/products"}}
    </div>
  </div>
</div>